
certifi==2020.6.20
python-resize-image==1.1.19
requests-toolbelt==0.7.0
pickleshare==0.7.5
prawcore==1.5.0
praw==7.1.0
instabot==0.117.0
requests==2.20.0
fuzzywuzzy==0.18.0
future==0.18.2
responses==0.12.1
beautifulsoup4==4.9.1
jupyter-core==4.6.3
asgiref==3.2.9
regex==2020.11.13
nltk==3.5
urllib3==1.25.11
more-itertools==8.6.0
pipreqs==0.4.10
nbformat==5.0.7
Pillow==8.1.0
rake-nltk==1.0.4
