
certifi
python-resize-image
requests-toolbelt
pickleshare
prawcore
json
praw
instabot
requests
fuzzywuzzy
future
responses
beautifulsoup4
jupyter-core
asgiref
regex
nltk
urllib3
more-itertools
pipreqs
nbformat
Pillow
instagrapi
rake-nltk
